.more-details{
    height: 664px;
    opacity: 1;
}

.more-details-titulos{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.more-details-titulos-1 {
    padding-top: 103px;
    padding-bottom: 17px;
    opacity: 1;
    text-align: center;
}

.more-details-titulos-2 {
    text-align: center;
    align-items: center;
    width: 800px;
}

.more-details-points {
    display: flex;
    justify-content: space-around;
    padding-top: 71px;
}
.more-details-point {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    
}

.more-details-imagen{
    height: 60px;
    padding-right: 20px;
}

.more-details-texto {
    text-align: left;
    width: 370px;
}