.services { 
    height: 552px;
    background-color: #F2F4F1;
}

.services-textos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

.services-texto{
    padding-top: 104px;
    padding-bottom: 17p;
}

.services-texto-2 {
    width: 950px;
    align-items: center;
}

.iconos{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    

}

.icono-imagen{
    height: 45px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.icono-text
{
    width: 200px;
    letter-spacing: 0.29px;
    color: #343434;
    opacity: 1;
}