.formulario{
    background-color: #F2F4F1;
    height: 768px;
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 121px;
    align-items: left;
}

.form-contendio{
    display: flex;
    flex-direction: column;
}

.form-text{
    text-align: left;
}

.form-text-2 {
    color: #E0752F;
}

.formulario-completo{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
    width: 471px;
    color: #5F6368;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid gray;
    background-color: transparent;
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  textarea:focus {
    border-color: #FFA500; /* Cambia el color a naranja al enfocar */
  }
  
  .input-label {
    position: absolute;
    left: 10px;
    top: 14px;
    transition: top 0.3s, font-size 0.3s;
    font-size: 16px;
  }
  
  input[type="text"]:focus + .input-label,
  input[type="email"]:focus + .input-label,
  input[type="tel"]:focus + .input-label,
  textarea:focus + .input-label {
    top: 2px;
    font-size: 12px;
  }

.form-boton{
        color: white;
        background-color: #E0752F;
        width: 144px;
        height: 48px;
        border: none;
        border-radius: 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    
}


  .form-imagen{
    height: 400px;
    padding-left: 100px;
  }