.about-us {
    display: flex;
    width: 100%;
}

.contenido {
    text-align: left;
    
    height: 672px;
}

.imagen-casa{
    margin-top: 88px;
    margin-right: 124px;
    margin-left: 195px;
    width: 376px;
    height: 504px;
}

.titulos{
    margin-top: 127px;
    margin-bottom: 44px;
}

.contenido-texto1 {
    letter-spacing: 0.55px;
}

.contenido-texto2 {
    letter-spacing: 0.55px;
    color: #E0752F;
}

.texto {
    width: 471px;
    height: 189px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-roboto) !important;
letter-spacing: var(--unnamed-character-spacing-0-22);
color: var(--unnamed-color-343434);
text-align: left;
font: normal normal normal 16px/28px Roboto;
letter-spacing: 0.22px;
color: #343434;
opacity: 1;

}

.about-us-button{
    color: white;
    background-color: #E0752F;
    width: 144px;
    height: 48px;
    border: none;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}