.footer {
    background-color: #343434;
    height: 208px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.footer-1 {
    align-items: left;
}

.footer-1-logo{
    width: 150px;
}

.footer-1-texto{
    padding-top: 30px;
    color: #E0752F;
    font-size: 15px;
    letter-spacing: 0.2px;
}

.footer-2{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: left ;
    text-align: left;
}

.footer-3{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: left ;
    text-align: left;
}

.redes{
    display: flex;
    justify-content: space-evenly;
}

.footer-4-texto{
    color: white;
    padding-bottom: 20px;
}

.redes-logo{
    width: 55px;
    padding-left: 15px;
    padding-right: 15px;
}